venv/
.idea/
*.mp4
*.flv
*.xlsx
*.pyc
__pycache__/
*.DS_Store

nohup.out
wget-log
main_banner/
movie/
movie_logo/
users/

instance/

.pytest_cache/
.coverage
htmlcov/
arya/local_config.py
logs/
build/
*.egg-info/

