<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>购物车</title>
		<link rel="stylesheet" href="http://www.xinxiang2016.com:8848/xinxiang2016/resources/css/bootstrap.min.css" type="text/css" />
		<script src="http://www.xinxiang2016.com:8848/xinxiang2016/resources/js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="http://www.xinxiang2016.com:8848/xinxiang2016/resources/js/bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://www.xinxiang2016.com:8848/xinxiang2016/resources/js/jquery-heima-0.0.1.js" ></script>
		<script type="text/javascript" src="http://www.xinxiang2016.com:8848/xinxiang2016/resources/js/heima-include.js" ></script>
		<script type="text/javascript" src="http://www.xinxiang2016.com:8848/xinxiang2016/resources/js/vue.js" ></script>
		<script>
			$(function(){
				//找服务器  我目前购物车都有啥  然后在这展示
				//发请求 
				HM.ajax("/cart?func=list",null,function(vo){
					var cart=vo.data;
					var items=cart.items;
					//遍历它
					var html="";
					for(key in items){
						var cartItem=items[key];
						html+="<tr class=\"active\">\n" +
						            "\t\t\t\t\t\t\t\t\t<td width=\"60\" width=\"40%\">\n" +
						            "\t\t\t\t\t\t\t\t\t\t<img src=\"http://www.xinxiang2016.com:8848/xinxiang2016/"+cartItem.product.pimage+"\" width=\"70\" height=\"60\">\n" +
						            "\t\t\t\t\t\t\t\t\t</td>\n" +
						            "\t\t\t\t\t\t\t\t\t<td width=\"30%\">\n" +
						            "\t\t\t\t\t\t\t\t\t\t<a target=\"_blank\"> "+cartItem.product.pname+"</a>\n" +
						            "\t\t\t\t\t\t\t\t\t</td>\n" +
						            "\t\t\t\t\t\t\t\t\t<td width=\"20%\">\n" +
						            "\t\t\t\t\t\t\t\t\t\t￥"+cartItem.product.shop_price+"\n" +
						            "\t\t\t\t\t\t\t\t\t</td>\n" +
						            "\t\t\t\t\t\t\t\t\t<td width=\"10%\">\n" +
						            "\t\t\t\t\t\t\t\t\t\t"+cartItem.count+"\n" +
						            "\t\t\t\t\t\t\t\t\t</td>\n" +
						            "\t\t\t\t\t\t\t\t\t<td width=\"15%\">\n" +
						            "\t\t\t\t\t\t\t\t\t\t<span class=\"subtotal\">￥"+cartItem.subtotal+"</span>\n" +
						            "\t\t\t\t\t\t\t\t\t</td>\n" +
						            "\t\t\t\t\t\t\t\t\t<td>\n" +
						            "\t\t\t\t\t\t\t\t\t\t<a pid="+cartItem.product.pid+" href=\"javascript:;\" class=\"delete\" onclick='removeItem(this)'>删除</a>\n" +
						            "\t\t\t\t\t\t\t\t\t</td>\n" +
						            "\t\t\t\t\t\t\t\t</tr>";
					}
					//html字符串 放在合适的位置
					$("#items").append(html);
					$("#total").html(cart.total);
				});
			})
			
			
			function clearItems(){
				//发请求 到服务器
				HM.ajax("/cart?func=clear",null,function(vo){
					//重新刷新页面就可以了
					location.reload();
				});	
			}
			function removeItem(obj){
				//删除购物项
				//弹出提示框
				if(confirm("您确认删除该购物项")){
					//点击确定了 删除 购物项
					//给后端请求 删除 你得告诉我 你要删除哪个
					var pid=$(obj).attr("pid");
					//发请求了
					HM.ajax("/cart?func=removeItem","pid="+pid,function(vo){
						//重新刷新页面就可以了
						location.reload();
					});	
				}
			}
			
			//生成订单
			function generateOrder(){
				//发请求生成订单
				HM.ajax("/order?func=generate",null,function(vo){
					//如果返回2 没有登录跳转登录页面
					if(vo.code==2){
						location.href="../../login.html?returnURL="+location.href;
					}else if(vo.code==0){
						//如果返回0 购物车空 
						alert(vo.data);
					}else{
						//跳转订单支付页面
						location.href="../order/info.html?oid="+vo.data;
					}			
				});
			}
			
		</script>
	
	</head>

	<body>
		<div class="container-fluid"  >
			<!--头部-->
			<div id="header" style="min-height: 130px;"></div>	
			<div class="container" style="min-height: 441px;">
				<div class="row">
					<div style="margin:0 auto; margin-top:10px;width:950px;">
						<strong style="font-size:16px;margin:5px 0;">购物车详情</strong>
						<table class="table table-bordered">
							<tbody id="items">
								<tr class="warning">
									<th>图片</th>
									<th>商品</th>
									<th>价格</th>
									<th>数量</th>
									<th>小计</th>
									<th>操作</th>
								</tr>
								
								
							</tbody>
						</table>
					</div>
				</div>
	
				<div style="margin-right:130px;">
					<div style="text-align:right;">
						商品金额: <strong style="color:#ff6600;">￥<span id="total">0.0</span>元</strong>
					</div>
					<div style="text-align:right;margin-top:10px;margin-bottom:10px;">
						<a href="javascript:;" id="clear" class="clear" onclick="clearItems()">清空购物车</a>
						<a href="javascript:;" onclick="generateOrder();">
							<input type="button" width="100" value="提交订单" id="submit" border="0" style="background-color:#CD062D;height:35px;width:100px;color:white;">
						</a>
					</div>
				</div>
			</div>
			<!--尾部-->
			<div id="footer"  style="min-height: 203px;"></div>
		</div>
	</body>
</html>